<h4>7日間の投稿数</h4>
<table class="table table-bordered" >
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
    <tr>
      <% @books.past_week_count.each do |book| %>
        <td><%= book %></td>
      <% end %>
    </tr>
  </thead>
</table>
<canvas id="postsChart"></canvas>
<script>
  $(document).on('turbolinks:load', function() {
  var ctx = document.getElementById("postsChart");
  var postsChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
      datasets: [
        {
          label: '投稿した本の数',
          data: <%= books.past_week_count %>,
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0"
        }
      ],
    },
    options: {
      title: {
        display: true,
        text: '7日間の投稿数の比較'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 10,
            suggestedMin: 0,
            stepSize: 1,
            callback: function(value, index, values){
              return value
            }
          }
        }]
      },
    }
  });
});
</script>