<div class='container'>
  <div class='row'>
      <% if @range == "User" %>
        <%= render 'searches/searchUsers' %>
      <% else %>
        <%= render 'searches/searchBooks' %>
      <% end %>
  </div>
</div>