<div class='container'>
  <div class='row'>
      <% if @range == "User" %>
        <%= render 'searches/searchUsers', word: @word, users: @users %>
      <% else %>
        <%= render 'searches/searchBooks', word: @word, books: @books %>
      <% end %>
  </div>
</div>